<% unless spot_forecasts  %>
  <p> no data for this time</p>
<% else %>

  <%# calculations %>
    <% forecasts_today = [] %> 
    <% forecasts_tomorrow = [] %> 
    <% forecasts_third = [] %> 

    <%spot_forecasts.each do |forecast|%> 
      <%if forecast.timestamp.day == Time.now.utc.day%> 
      <% forecasts_today << forecast%> 
      <%elsif forecast.timestamp.day == Time.now.utc.day + 1%> 
        <%forecasts_tomorrow << forecast%> 
      <%elsif forecast.timestamp.day == Time.now.utc.day + 2%> 
        <%forecasts_third << forecast%> 
      <%end%> 
    <%end%>
    <%# only keep certain timestamps of the day %>
    <%forecasts_today_keep = []%>
    <%forecasts_tomorrow_keep = []%>
    <%forecasts_third_keep = []%>

    <%forecasts_today.each do |forecast|%> 
      <%if [6, 10, 14, 16, 20].include? forecast.timestamp.hour%> 
        <%forecasts_today_keep << forecast%> 
      <%end%> 
    <%end%> 
    <%forecasts_tomorrow.each do |forecast|%> 
      <%if [6, 10, 14, 16, 20].include? forecast.timestamp.hour%> 
        <%forecasts_tomorrow_keep << forecast%> 
      <%end%> 
    <%end%> 
      <%forecasts_third.each do |forecast|%> 
      <%if [6, 10, 14, 16, 20].include? forecast.timestamp.hour%> 
        <%forecasts_third_keep << forecast %> 
      <%end%> 
    <%end%> 
  
  
  <table class="table-striped rounded custom-table">
  <%# HEADER %>
    <thead>
      <tr style="" class="">
        <th class="row-top" scope="col"></th>
        <%# title today %>
        <th scope="col" colspan="<%= forecasts_today_keep.length%>">
          <h5 class="pt-2"> <%= forecasts_today.first.timestamp.strftime('%A %b. %d')%> </h5>
          <%= render partial: "shaka", locals: {forecast: forecasts_today_keep.third} %>
        </th>
        <%# title tomorrow %>
        <th scope="col" colspan="<%= forecasts_tomorrow_keep.length unless forecasts_tomorrow_keep.empty? %>" >
          <h5 class="pt-2"><%= forecasts_tomorrow_keep.first.timestamp.strftime('%A %b. %d') unless forecasts_tomorrow_keep.empty? %> </h5>
          <%= render partial: "shaka", locals: {forecast: forecasts_tomorrow_keep.third} %>
        </th>
        <%# title third day %>
        <th scope="col" colspan="<%= forecasts_third_keep.length unless forecasts_third_keep.empty?%>" >
          <h5 class="pt-2"><%= forecasts_third_keep.first.timestamp.strftime('%A %b. %d') unless forecasts_third_keep.empty? %></h5>
          <%= render partial: "shaka", locals: {forecast: forecasts_third_keep.third} %>
        </th>
      </tr>
    </thead>
    <tbody class="">
    <%# timestamp %>
      <tr>
        <th scope="row">
          <div class="row-icon">
            <i class="far fa-clock text-primary"></i>
             <span class="hover-info">Time of day</span>
          </div>
       </th>
        <% forecasts_today_keep.each do |forecast| %> 
          <td> <%= forecast.timestamp.hour %>:00 </td>
        <% end %>
        <% forecasts_tomorrow_keep.each do |forecast| %> 
          <td> <%= forecast.timestamp.hour %>:00</td>
        <% end %>
        <% forecasts_third_keep.each do |forecast| %> 
          <td> <%= forecast.timestamp.hour %>:00</td>
        <% end %>
      </tr>
      <%# wave section %>
      <tr class="bg-white">
        <th> Waves</th>
      </tr>
      <%# wave height %>
      <tr> 
        <th scope="row">
          <div class="row-icon">
            <i class="fas fa-arrows-alt-v picto-icon text-primary"></i>
            <span class="hover-info">Wave height</span>
          </div>
       </th>
        <% forecasts_today_keep.each do |forecast| %> 
          <td> <%= forecast.wave_height.round(1) %>m</td>
        <% end %>
        <% forecasts_tomorrow_keep.each do |forecast| %> 
          <td> <%= forecast.wave_height.round(1) %>m</td>
        <% end %>
        <% forecasts_third_keep.each do |forecast| %> 
          <td> <%= forecast.wave_height.round(1) %>m</td>
        <% end %>
      </tr>
    <%# period %>
      <tr>
        <th scope="row">
          <div class="row-icon">
            <i class="fas fa-wave-square picto-icon" ></i>
            <span class="hover-info">Wave period</span>
          </div>
        </th>
        <% forecasts_today_keep.each do |forecast| %> 
          <td> <%= forecast.period %>s </td>
        <% end %>
        <% forecasts_tomorrow_keep.each do |forecast| %> 
          <td> <%= forecast.period %>s</td>
        <% end %>
        <% forecasts_third_keep.each do |forecast| %> 
          <td> <%= forecast.period %>s</td>
        <% end %>
      </tr>
      <%# swell direction %>
      <tr class="">
        <th scope="row">
          <div class="row-icon">
            <i class="far fa-compass"></i>
            <span class="hover-info">Swell direction</span>
          </div>
        </th>
        <% forecasts_today_keep.each do |forecast| %> 
          <td> <i class="fas fa-arrow-down picto-icon" style="transform: rotate(<%= forecast.swell_direction %>deg); -ms-transform: rotate(<%= forecast.swell_direction %>deg); -webkit-transform: rotate(<%= forecast.swell_direction %>deg);"></i> </td>
        <% end %>
        <% forecasts_tomorrow_keep.each do |forecast| %> 
          <td> <i class="fas fa-arrow-down picto-icon" style="transform: rotate(<%= forecast.swell_direction %>deg); -ms-transform: rotate(<%= forecast.swell_direction %>deg); -webkit-transform: rotate(<%= forecast.swell_direction %>deg);"></i></td>
        <% end %>
        <% forecasts_third_keep.each do |forecast| %> 
          <td> <i class="fas fa-arrow-down picto-icon" style="transform: rotate(<%= forecast.swell_direction %>deg); -ms-transform: rotate(<%= forecast.swell_direction %>deg); -webkit-transform: rotate(<%= forecast.swell_direction %>deg);"></i></td>
        <% end %>
      </tr>
      <%# Wind section %>
      <tr class="bg-white ">
        <th> Wind</th>
      </tr>
      <%# wind speed %>
      <tr>
        <th scope="row">
          <div class="row-icon">
            <i class="fas fa-wind pr-2 picto-icon"></i>
            <span class="hover-info">Wind speed</span>
          </div>
        </th>
        <% forecasts_today_keep.each do |forecast| %> 
          <td> <%= forecast.wind_speed %>kts </td>
        <% end %>
        <% forecasts_tomorrow_keep.each do |forecast| %> 
          <td> <%= forecast.wind_speed %>kts</td>
        <% end %>
        <% forecasts_third_keep.each do |forecast| %> 
          <td> <%= forecast.wind_speed %>kts</td>
        <% end %>
      </tr>
      <%# wind direction %>
      <tr class="mb-2">
        <th scope="row">
          <div class="row-icon">
            <i class="far fa-compass"></i>
            <span class="hover-info">Wind direction</span>
          </div>
        </th>
        <% forecasts_today_keep.each do |forecast| %> 
          <td> <i class="fas fa-location-arrow picto-icon" style="transform: rotate(<%= (forecast.wind_direction-210) %>deg); -ms-transform: rotate(<%= (forecast.wind_direction-210) %>deg); -webkit-transform: rotate(<%= (forecast.wind_direction-210) %>deg);"></i> </td>
        <% end %>
        <% forecasts_tomorrow_keep.each do |forecast| %> 
          <td> <i class="fas fa-location-arrow picto-icon" style="transform: rotate(<%= (forecast.wind_direction-210) %>deg); -ms-transform: rotate(<%= (forecast.wind_direction-210) %>deg); -webkit-transform: rotate(<%= (forecast.wind_direction-210) %>deg);"></i></td>
        <% end %>
        <% forecasts_third_keep.each do |forecast| %> 
          <td> <i class="fas fa-location-arrow picto-icon" style="transform: rotate(<%= (forecast.wind_direction-210) %>deg); -ms-transform: rotate(<%= (forecast.wind_direction-210) %>deg); -webkit-transform: rotate(<%= (forecast.wind_direction-210) %>deg);"></i></td>
        <% end %>
      </tr>
    </tbody>
  </table> 
<% end %>
